.header {
    background-color: #ffcd39;
    width: 100%;
    height: 50px;
}

.header img {
    margin-left: 15px;
}

h2 {
    padding-top: 10px;
    padding-left: 10px;
}

.menulink {
    background-color: #6f42c1;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    clear: both;
}

.menulink1 {
    /*background-color: #20c997;*/
    width: 10%;
    height: 30px;
    margin-left: 400px;
    float: left;
}

.menulink2 {
    /*background-color: #20c997;*/
    width: 15%;
    height: 30px;
    margin-left: 20px;
    float: left;
}

.menulink3 {
    /*background-color: #20c997;*/
    width: 12%;
    height: 30px;
    margin-left: 20px;
    float: left;
}

.menulink1 p, .menulink2 p, .menulink3 p {
    margin-top: 6px;
    font-family: Arial;
    font-weight: 600;
}

.menuvideo {
    background-color: #0dcaf0;
    width: 25%;
    height: 1050px;
    margin-top: 10px;
    float: left;
}

.menuvideo img {
    margin-top: 15px;
    margin-left: 35px;
}

.menuvideo div {
    margin-left: 35px;
    margin-right: 25px;
}

.video {
    background-color: cornflowerblue;
    width: 75%;
    height: 1050px;
    margin-top: 10px;
    float: left;
}