header, footer {
    padding: 10px;
    color: white;
    background-color: red;
}
section {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}
#section-1{
    width: 60%;
    height: 70%;
    float: left;
}
#section-2{
    background-color: beige;
    width: 40%;
    height: 100%;
    float: right;
}
article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}
nav ul {
    padding: 0;
}

li {
    display: inline;
    margin: 5px;
}
#aside {
    text-align: center;
}
h1 {
    display: inline-block;
}
#input {
    width: 600px;
    height: 30px;
}
body{
    background: brown;
}
img{
    width: 90%;
    height: 10%;
    margin: 28px;
}